table {
    border-collapse: collapse;
    border-color: black;
}
td {
    border-color: black;
    border: solid 2px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 80px; 
}